.card {
  outline: none; /* como el borde pero no ocupa espacio en la caja */
  width: 220px;
  max-width: 300px;
  height: 400px;
  overflow: hidden; /* si el contenido ocupa mas espacio que el tamaño del contenedor queda oculto */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: orange;
  box-shadow: 0 1px 5px rgb(0, 0, 0, 0.2), 0 0 3px rgba(0, 0, 0, 0.3);
  transition: all 0.2s;

  &:hover,
  &:focus {
    transform: scale(1.03) skewx(0);
    transform-origin: bottom;
    box-shadow: 0 7px 8px rgb(0, 0, 0, 0.05), 0 3px 3px rgba(0, 0, 0, 0.01);
  }

  &:nth-child(5n + 1) {
    background-image: linear-gradient(to top, #aaafad 0%, #60efff 30%);
  }

  &:nth-child(5n + 2) {
    background-image: linear-gradient(to top, #696eff 0%, #f8accf 30%);
  }

  &:nth-child(5n + 3) {
    background-image: linear-gradient(to top, #ff1b6b 0%, #34caff 30%);
  }

  &:nth-child(5n + 4) {
    background-image: linear-gradient(to top, #ff930f 0%, #fff95b 30%);
  }

  &:nth-child(5n + 5) {
    background-image: linear-gradient(to top, #ff0f7b 0%, #f89b29 30%);
  }

  &__image-container {
    height: 200px;
    background-color: blue;
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 200px, 0 180px);
  }

  &:hover &__image-container,
  &:focus &__image-container {
    clip-path: polygon(0 0, 100% 0, 100% 190px, 0 200px);
  }

  &:hover &__image,
  &:focus &__image {
    transform: scale(1.4) rotate(5deg);
    transform-origin: center;
  }

  &__image {
    width: 100%;
    height: 100%; /* la imagen se ajusta al elemento padre/contenedor, es decir, "image-conteiner". por ende tendra 200px (definidos arriba) */
    object-fit: cover;
    transition: 0.2s;
  }

  &__content {
    padding: 1em;
  }

  @media (min-width: 1024px) {
    & {
      min-width: 240px;
    }
  }

  @media (min-width: 360px) and (max-width: 768px) {
    & {
      min-width: 400px;
      max-width: 500px;
      height: 200px;
    }

    &__article {
      display: flex;
    }

    & &__image-container {
      width: 40%;
      clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
    }

    &:hover &__image-container,
    &:focus &__image-container {
      width: 40%;
      clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
    }
  }
}
